<!DOCTYPE html>
    <html lang = "en" class>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>My Registration Form</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% load static %}
            <link rel="stylesheet" href="{% static 'style.css' %}">    
        </head>
        <body>
            <div class="alignment">
                <form action="/some_function" method='POST'>
                    {% csrf_token %}
                    <br>
                    <label for="name">Your name:</label>
                    <input class="your-name" type="text" name = "name">
                    <br><br>
                    <label for="languages">Favorite Language</label> 
                    <select class = "language" name= "language">
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="Ruby">Ruby</option>
                    </select>
                    <br><br>
                    <label for="location">Dojo Location:</label>
                    <select class = "location" name= "location">
                        <option value="Seattle">Seattle</option>
                        <option value="San Jose">San Jose</option>
                        <option value="Chicago">Chicago</option>
                    </select>
                    <br>
                    <input class = "radio" type="radio" id="male" name="gender" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="Female">
                    <label for="female">Female</label>
                    <input type="radio" id="other" name="gender" value="Other">
                    <label for="other">Other</label>
                    <p id = "comment">Comment (optional):</p>
                    <textarea name="description"></textarea>
                    <br><br> 
                    <input type="submit" value="Button" id = "button">
                </form>
            </div>
            <!--<script src="" async defer></script>-->
        </body>
    </html> 