<!DOCTYPE html>
    <html lang = "en" class>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>My Registration Form</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% load static %}
            <link rel="stylesheet" href="{% static 'style.css' %}">    
            <script src="{% static 'js/script.js' %}"></script>
        </head>
        <body>
            <div class="alignment">
                <form>
                    <br>
                    <label for="name">Your name:</label>
                    <input id = "your-name" type="text" id = "name" name = "name">
                    <br><br>
                    <label for="languages">Favorite Language</label>
                    <select class = "language" name= "language">
                        <option value="javascript">Javascript</option>
                        <option value="python">Python</option>
                        <option value="ruby">Ruby</option>
                    </select>
                    <br><br>
                    <label for="location">Dojo Location:</label>
                    <select class = "location" name= "location">
                        <option value="seattle">Seattle</option>
                        <option value="san-jose">San Jose</option>
                        <option value="chicago">Chicago</option>
                    </select>
                    <br>
                    <input id = "radio" type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">Other</label>
                    <p>Comment (optional):</p>
                    <textarea name="description"></textarea>
                    <br><br>
                    <input type="submit" value="Button" id = "button">
                </form>
            </div>
            <!--<script src="" async defer></script>-->
        </body>
    </html> 