<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'other.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class= "box">
    <!-- <p>Name in session is: {{request.session.name}}</p> -->
    <h2>Submitted Info</h2>
    <p>Name: {{result.name}}</p>
    <p>Dojo Location: {{result.location}}</p>
    <p>Favorite Language: {{result.language}}</p>
    <p>Gender: {{result.gender}}</p>
    <p>Comment: {{result.description}}</p>
</body>
</html>

